
	<!-- Footer Area -->
    <footer id="footer" class="footer section">
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright-content">
                            <p>Copyright © 2018 牛海刚 所有</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="social">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/colors.js"></script>
    <script src="/static/js/jquery.nav.js"></script>
    <script src="/static/js/jquery.scrollUp.min.js"></script>
    <script src="/static/js/jquery.slicknav.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/jquery.stellar.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/animate-text.js"></script>
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/particle-code.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    
    <script type="text/javascript" src="/static/js/gmaps.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>