<!-- Header Area -->
<header id="header" class="header">
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-2">
                    <div class="logo">
                        <a href="index.html"><img src="/static/img/logo.png" alt="logo.png"></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-10">
                    <div class="mobile-menu"></div>
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse">
                            <ul id="nav" class="nav navbar-nav">
                                <li class="current"><a href="#slider">首页</a>
                                </li>
                                <li><a href="#Services">项目展示</a></li>
                                <li><a href="#latest-works">资源共享<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="portfolio.html">资源共享</a></li>
                                        <li><a href="portfolio-single.html">资源共享-single</a></li>
                                    </ul>
                                </li>
                                <li><a href="#blog">热点新闻<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Archive</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="#contact">留言</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--/ End Header Area -->