{include file="public/head" /}

{include file="public/change_color" /}

{include file="public/nav" /}
<!-- Slider Area -->
<section id="slider">
    <div class="single-slider">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h1 class="cd-headline clip is-full-width">
                            {$main}
                            <span class="cd-words-wrapper">
                                <b class="is-visible">代 码</b>
                                <b>理 想</b>
                                <b>情 感</b>
                            </span>
                        </h1>
                        <p>{$saying}<br> ——{$name}</p>
                        <div class="button-head">
                            <div class="button">
                                <span></span>
                                <a href="#" class="btn">加载更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Slider Area -->

<!-- features Area -->
<section id="features" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>本站希望</h2>
                    <p>本站为个人网站，套用模板，但是内容为个人建设，在本站希望得到你们需要的</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.9s">
                <div class="feature-left">
                    <img src="/static/img/computer.jpg" alt="#">
                </div>	
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.9s">
                <div class="feature-right">
                    <div class="single-right">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>能力提升</h3>
                            <P>在本站希望你们能得到想要的，能提高自己的专业能力，提高自己的工资</P>
                        </div>
                    </div>
                    <div class="single-right">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>知识储备</h3>
                            <P>本站希望你们能得到想要的，能够积累些你们需要的知识点，以及个人经验</P>
                        </div>
                    </div>
                    <div class="single-right">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>排除压力</h3>
                            <P>本站希望你们能得到想要的，同时希望你可以减轻压力，合理的调整自己的心境</P>
                        </div>
                    </div>
                    <div class="single-right">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>关注生活</h3>
                            <P>本站希望你们能得到想要的，同时希望你可以多关注生活中的点点滴滴，珍惜你所拥有的</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End features Area -->

<!-- Start Service area -->
<section id="Services" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>项目 <span>展示</span></h2>
                    <p>这 些 这 些 年 参 与 过 的 项 目 展 示</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <div class="single-service">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h3>我的网站主页</h3>
                    <p> 简 单 的 自 我 介 绍，我 的 生 活，我 的 工 作，我 的 兴 趣 爱 好，我 的 收 获 总 结，我 的 成 长，我 的   经 历 </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
                <div class="single-service">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <h3>腰果PC主站</h3>
                    <p>简 单 的 自 我 介 绍，我 的 生 活，我 的 工 作，我 的 兴 趣 爱 好，我 的 收 获 总 结，我 的 成 长，我 的   经 历</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.6s">
                <div class="single-service">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h3>腰果移动站</h3>
                    <p>简 单 的 自 我 介 绍，我 的 生 活，我 的 工 作，我 的 兴 趣 爱 好，我 的 收 获 总 结，我 的 成 长，我 的   经 历 </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.7s">
            <div class="single-service">
                    <i class="fa fa-meetup" aria-hidden="true"></i>
                    <h3>微信小程序</h3>
                    <p>简 单 的 自 我 介 绍，我 的 生 活，我 的 工 作，我 的 兴 趣 爱 好，我 的 收 获 总 结，我 的 成 长，我 的   经 历</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">
                <div class="single-service">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h3>微信公众号开发</h3>
                    <p>简 单 的 自 我 介 绍，我 的 生 活，我 的 工 作，我 的 兴 趣 爱 好，我 的 收 获 总 结，我 的 成 长，我 的   经 历 </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.9s">
                <div class="single-service">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h3>活动推广H5</h3>
                    <p>简 单 的 自 我 介 绍，我 的 生 活，我 的 工 作，我 的 兴 趣 爱 好，我 的 收 获 总 结，我 的 成 长，我 的   经 历</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Service -->

<!-- Latest Works Area -->
<section id="latest-works" class="latest-works section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>资源共享</h2>
                    <p>生 活 工 作 时 积 累 了 些 资 源，有 需 要 的 给 我 留 言，我 会 把 这 些 资 源 都 发 给 你</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Project Nav -->
                <div class="works-menu wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                    <ul>
                        <li class="active" data-filter="*">所有资源</li>
                        <li data-filter=".print">页面模板</li>
                        <li data-filter=".identity">UI图片</li>
                        <li data-filter=".branding">编程电子书</li>
                        <li data-filter=".web">编程软件工具</li>
                        <li data-filter=".wordpress">最热影视</li>
                    </ul>
                </div>
                <!--/ End Project Nav -->
            </div>
        </div>
        <div class="row">
            <div class="isotop-active">
                <div class="col-md-4 col-sm-4 col-xs-12 print identity">
                    <!-- Single Works -->
                    <div class="single-work">
                        <img src="/static/img/pf1.jpg" alt="">
                        <div class="works-hover">
                            <a href="portfolio-single.html"><h4>Project Name</h4></a>
                            <a class="link popup" href="/static/img/pf1.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            <a href="portfolio-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Works -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wordpress branding">
                    <!-- Single Works -->
                    <div class="single-work">
                        <img src="/static/img/pf2.jpg" alt="">
                        <div class="works-hover">
                            <a href="portfolio-single.html"><h4>Project Name</h4></a>
                            <a class="link popup" href="/static/img/pf2.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            <a href="portfolio-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Works -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 web">
                    <!-- Single Works -->
                    <div class="single-work">
                        <img src="/static/img/pf3.jpg" alt="">
                        <div class="works-hover">
                            <a href="portfolio-single.html"><h4>Project Name</h4></a>
                            <a class="link popup" href="/static/img/pf3.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            <a href="portfolio-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Works -->
                </div>
                <div class="col-md-4  col-sm-4 col-xs-12 wordpress">
                    <!-- Single Works -->
                    <div class="single-work">
                        <img src="/static/img/pf4.jpg" alt="#">
                        <div class="works-hover">
                            <a href="portfolio-single.html"><h4>Project Name</h4></a>
                            <a class="link popup" href="/static/img/pf4.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            <a href="portfolio-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Works -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 branding">
                    <!-- Single Works -->
                    <div class="single-work">
                        <img src="/static/img/pf5.jpg" alt="#">
                        <div class="works-hover">
                            <a href="portfolio-single.html"><h4>Project Name</h4></a>
                            <a class="link popup" href="/static/img/pf5.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            <a href="portfolio-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Works -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 web print">
                    <!-- Single Works -->
                    <div class="single-work">
                        <img src="/static/img/pf6.jpg" alt="#">
                        <div class="works-hover">
                            <a href="portfolio-single.html"><h4>Project Name</h4></a>
                            <a class="link popup" href="/static/img/pf6.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            <a href="portfolio-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Works -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Works Area -->

<!-- Fun Facts Area -->
<section id="fun-facts" class="fun-facts section" data-stellar-background-ratio="0.5">
    <div class="bf-color">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.4s">
                    <!-- Single Fun -->
                    <div class="single-fun">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span class="counter">3468</span>
                        <p>完成项目</p>
                    </div>
                    <!--/ End Single Fun -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.6s">
                    <!-- Single Fun -->
                    <div class="single-fun">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <span class="counter">468</span>
                        <p>得到评论</p>
                    </div>
                    <!--/ End Single Fun -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
                    <!-- Single Fun -->
                    <div class="single-fun">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <span class="counter">4368</span>
                        <p>资源总数</p>
                    </div>
                    <!--/ End Single Fun -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="1s">
                    <!-- Single Fun -->
                    <div class="single-fun">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <span class="counter">3468</span>
                        <p>帮助人数</p>
                    </div>
                    <!--/ End Single Fun -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Fun Facts Area -->

<!-- Blog -->
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>热点新闻</h2>
                    <p>风 声 雨 声 读 书 声，声 声 入 耳；家 事 国 事 天 下 事，事 事 关 心 </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <div class="single-news">
                    <div class="news-head">
                        <img src="/static/img/blog1.jpg" alt="#">
                    </div>
                    <div class="news-body">
                        <h3 class="date">25<span>nov</span></h3>
                        <h2><a href="blog-single.html"> give us that</a></h2>
                        <div class="title"><span class="user"><i class="fa fa-user" aria-hidden="true"></i>adminaccess</span> <span class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>no comment</span></div>
                        <p>Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                        <a href="blog-single.html" class="btn">Read More<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.6s">
                <div class="single-news">
                    <div class="news-head">
                        <img src="/static/img/blog2.jpg" alt="#">
                    </div>
                    <div class="news-body">
                        <h3 class="date">30<span>nov</span></h3>
                        <h2><a href="blog-single.html"> consisting with technology</a></h2>
                        <div class="title"><span class="user"><i class="fa fa-user" aria-hidden="true"></i>adminaccess</span> <span class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>no comment</span></div>
                        <p>Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                        <a href="blog-single.html" class="btn">Read More<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.9s">
                <div class="single-news">
                    <div class="news-head">
                        <img src="/static/img/blog3.jpg" alt="#">
                    </div>
                    <div class="news-body">
                        <h3 class="date">05<span>dec</span></h3>
                        <h2><a href="blog-single.html">the inline product </a></h2>
                        <div class="title"><span class="user"><i class="fa fa-user" aria-hidden="true"></i>adminaccess</span> <span class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>no comment</span></div>
                        <p>Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                        <a href="blog-single.html" class="btn">Read More<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="button-head">
                    <div class="button">
                        <span></span>
                        <a href="#" class="btn">加载更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Newslatter -->

<!-- Testimonials -->
<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <section class="bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="owl-carousel testimonial-slider">
                        <div class="single-testimonial">
                            <img src="/static/img/testi-1.jpg" alt="#">
                            <h2><i>What Clients  Says</i></h2>
                            <p><i class="fa fa-quote-left" aria-hidden="true"></i><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore aliqua.<i class="fa fa-quote-right" aria-hidden="true"></i></i></p>
                            <span> -Naimur Rahman</span>
                        </div>
                        <div class="single-testimonial">
                            <img src="/static/img/testi-2.jpg" alt="#">
                            <h2><i>What Clients  Says</i></h2>
                            <p><i class="fa fa-quote-left" aria-hidden="true"></i><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore aliqua.<i class="fa fa-quote-right" aria-hidden="true"></i></i></p>
                            <span> -Rakib Hasan</span>
                        </div>
                        <div class="single-testimonial">
                            <img src="/static/img/testi-3.jpg" alt="#">
                            <h2><i>What Clients  Says</i></h2>
                            <p><i class="fa fa-quote-left" aria-hidden="true"></i><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore aliqua.<i class="fa fa-quote-right" aria-hidden="true"></i></i></p>
                            <span> -Sabbir Ahmed</span>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--/ End Testimonials -->
<!--/ contact Area -->
<section id="contact" class="contact section" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="contact-head">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-left">
                            <h3>给我<span>留言</span></h3>
                            <p class="p1">
                                说说你想需要什么，有什么疑惑，有什么收获，有什么心里话，有什么伤心的事儿，有什么快乐的事儿，我能我你做什么，简短的写下来你的需求!
                            </p>
                            <p>
                                如果我能做到的话，会第一时间去帮助你。愿每一个有愿望的人都能实现，愿每一个与我有交际的人都可以快乐
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="contact-right">
                            <div class="row">
                                <form class="form" action="#">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="name" type="text" placeholder="姓名">
                                        </div>
                                        <div class="form-group">
                                            <input name="phone" type="number" placeholder="手机号">
                                        </div>
                                        <div class="button">
                                            <button type="submit" class="btn primary">发送<i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea name="message" placeholder="输入你的需求"></textarea>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        <!--/ End Contact Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--/ End contact Area -->

<!-- Clients Area -->
<div id="clients" class="clients section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="owl-carousel clients-slider">
                    <!-- Single Clients -->
                    <div class="single-clients">
                        <img src="/static/img/client1.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client2.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client3.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client4.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client5.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client6.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client1.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client2.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                    <!-- Single Client -->
                    <div class="single-clients">
                        <img src="/static/img/client3.jpg" alt="#">
                    </div>
                    <!--/ End Single Client -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Clients Area -->
{include file="public/foot" /}